[2013-08-12 18:08] RasterBurn opened #8 "allow connecting to api.rollbar.com through a proxy"
Right now my server-side errors are not being logged because of a corporate firewall.  We have an http proxy but the library doesn't support using one (or it's not documented).

[2015-01-11 02:27] brianr opened #31 "Crash if the passed request object doesn't have the expected properties"
If you pass an object for the request that doesn't have the expected properties (i.e. `headers`), it will result in an internal error inside node_rollbar.

Seen in version 0.4.1

[2015-01-13 02:02] #31 closed

[2015-01-15 22:26] pablote commented on #8
:+1: Same case here, and we really need this. Has this been implemented or are there any plans?

[2015-01-15 22:49] brianr commented on #8
@coryvirok can you provide some guidance on where the code changes for this would be?

[2015-01-15 23:55] coryvirok commented on #8
We would want to switch to using the request library I linked above and configure it to use an optional proxy. https://github.com/request/request#proxies

The code for this would go here: https://github.com/rollbar/node_rollbar/blob/master/lib/api.js#L64

We will also need to add the new library to package.json

[2015-03-09 16:58] wvl opened #34 "handleError then immediate shutdown should flush all errors"
`handleError` is asynchronous, which is not a problem, except that pendingItems doesn't get appended until after the error has been parsed and formatted. Thus, if we experience an error that causes the process to exit, calling `rollbar.shutdown` does not properly flush/send the crashing error.

This is illustrated with this simple script, and a console.log inside `postItems`:

[code]

[code]

This

[2015-03-09 20:49] coryvirok commented on #34
Good find. This is happening because of the async call to `fs.readFile()` in parser.js.

It appears there's a bug in that code that is calling the callback before all file data is read.

If you want to take a stab at it, please send a PR over. Otherwise, we can get to it soon.

[2015-03-10 19:24] ratbeard opened #35 "Uncaught exception handler only handles an error once"
I was wondering why the uncaughtException handler is only registered once [1].  The docs on the rollbar website don't mention this behavior [2], and I would expect a function called `handleUncaughtExceptions` to handle all uncaught exceptions, not just one.  A name like"reportOnCrash" or something like that would make more sense for the current behavior.

I thought while debugging this it might be

[2015-03-10 19:31] ratbeard commented on #35
I could just log the error in my own unhandledException handler as a workaround

[2015-03-11 00:48] coryvirok commented on #35
You make a good case for not using `once()`. If you send over a PR I can get it merged in asap.

[2015-03-12 20:37] #35 closed

[2015-04-07 11:57] whyhankee commented on #34
Got bitten by this one as well :(

A fix would really be appreciated, I tried to 'take a stab at it' but i don't feel confident messing with this part of the code :( Sorry ..

[2015-04-18 04:04] coryvirok commented on #34
Hey everyone. Sorry for the delay. I've done some refactoring/bugfixing here - https://github.com/rollbar/node_rollbar/pull/37

I'll plan on merging this early next week so please let me know if you have any feedback.

Thanks!

[2015-04-23 16:09] twalling opened #38 "changeHandler removed from notifier but still called from rollbar"
I commented on the commit which took this method out. We're getting a maximum call stack size exceeded now because this just keeps throwing an exception over and over.

[2015-04-23 16:17] coryvirok commented on #38
Ouch. Thanks for the report. Fixed and pushed to NPM. https://github.com/rollbar/node_rollbar/commit/01d512a2b73b38ef1e31dc2485f482f870f55839

[2015-04-23 16:18] #38 closed

[2015-04-23 16:20] #34 closed

[2015-04-23 16:20] coryvirok commented on #34
Published this fix, (and another this am) to NPM. v0.5.1.

[2015-04-23 17:39] wvl opened #39 "Missing shutdown api"
Sorry, I don't understand how the fix for #34 actually fixes the problem. Your api is still asynchronous. So if we have code:

[code]

Since you removed the `shutdown` method, there's no way to ensure that rollbar is flushed before we exit. So we don't know when the error has actually been submitted properly, and I'm back to setting timeouts and hoping that the error has been flushed, or, managing

[2015-04-23 22:28] coryvirok commented on #39
There is no more flushing. If you want to make sure you wait until the error was sent to Rollbar, you would put the call to `process.exit(1)

[2015-04-23 22:39] coryvirok commented on #39
In general, if you have any outstanding IO node will wait for it to complete before shutting down. The exception is if you call `process.exit()` which will terminate all IO and exit immediately.

Here's a test program that demonstrates:

[code]

Run the code with and without the `process.exit(1)`. You'll find that when `process.exit(1)` is commented out, the file is written before the process exit

[2015-04-24 18:09] wvl commented on #39
That's all true. However, in a large server side app, we have multiple connections established so the process never exits. On uncaught exceptions, we log the error, close any open connections, and exit (theoretically, node would exit automatically at this time, but practically, there's often something happening that prevents this, so we use process.exit).

Similarly, we can't use rollbar.handleUnc

[2015-04-24 19:12] brianr commented on #39
@wvl Thanks for the explanation - makes total sense to me.

@coryvirok what's required to make this happen in the current implementation?

[2015-04-27 16:46] maxhoffmann opened #42 "0.5.2: Maximum call stack size exceeded"
We got this error on production, when someone tried accessing a page that didn’t exist multiple times. It currently crashes the server.

[code]

[2015-04-27 16:54] brianr commented on #42
Thanks for the report, @maxhoffmann . Is there a framework you're using, e.g. express?

[2015-04-27 18:41] maxhoffmann commented on #42
Yes, using we are express.

[2015-04-27 18:49] coryvirok commented on #42
Hey Max. I think this is fixed in v0.5.3. Can you verify? https://github.com/rollbar/node_rollbar/commit/9be765d58ace0bc80ea8467c6fcc895e254bd4b9

[2015-04-27 18:59] maxhoffmann commented on #42
Will update and test again.

[2015-04-27 19:20] maxhoffmann commented on #42
I can’t reproduce it after updating. Seems that it’s okay. I’ll let you know if it occurs again. Thanks for the quick fix! :+1:

[2015-04-27 19:20] #42 closed

[2015-04-27 19:22] coryvirok commented on #42
Thanks Max!

[2015-04-30 23:22] coryvirok commented on #39
Thanks for the info. I think I understand the problem better.

If I can rephrase, (Please correct me if I'm wrong):

You want to be sure that Rollbar is not in the process of sending anything before you call `process.exit()` and intentionally kill the process.

I can re-add an optional `shutdown()` function which will essentially just call the callback when there are no more errors in-transit to R

[2015-05-01 22:39] markandrus opened #43 "Report to multiple projects"
Right now, it appears you can only create a single Rollbar object using a single token with `rollbar.init`. I'd like to see an alternative constructor/initializer that allows reporting to multiple projects. Or is this feature already enabled but hidden away?

[2015-05-01 23:37] coryvirok commented on #43
Good question! This is not yet available but we have plans to implement this. I'll update this thread when we have a better idea at when that will be.

[2015-06-24 17:56] brianr opened #47 "Scrubbing for the whole payload"
This library currently has `scrubFields` and `scrubHeaders`, but no way to scrub the entire payload.

We should probably replace the existing system with one that recursively scrubs the whole payload.

[2015-07-30 21:16] ryan-rowland commented on #43
@coryvirok Nudge. https://github.com/rollbar/node_rollbar/issues/45

[2015-07-31 00:41] coryvirok commented on #43
Hi @ryan-rowland. As you can tell I've been fairly heads down working on Rollbar so my apologies for the long silence. I just added this to our weekly triage list which we will go over tomorrow and one of us will update this thread with more info.

Until then, take a look at the interface that we have for both the browser JS notifier and the Ruby gem - (https://rollbar.com/docs/notifier/rollbar.js

[2015-08-12 17:49] Crisfole opened #49 "Store errors until connection returns"
When a machine loses connectivity and experiences something that ought to be sent to Rollbar it would be fantastic if those items were queued until connectivity was restored, at which point all of them could be sent.

[2015-08-12 17:50] alexblack commented on #49
+1

[2015-08-28 10:46] Koblaid opened #53 "Add 'enabled' config parameter"
Is there a 'enabled' config parameter for node_rollbar like for rollbar.js (https://github.com/rollbar/rollbar.js#disable-reporting-to-rollbarcom)?

I'd like to disable sending errors to Rollbar while developing without adding an `if` statement to every rollbar call.

I could create a PR if you like.

[2015-08-28 16:49] brianr commented on #53
There is not, but we'd be happy to merge a PR that implements this :)

[2015-09-11 17:35] Crisfole commented on #47
I'm going to suggest a `transform` method, just like the rollbar.js notifier.

[2015-09-23 17:58] blahed opened #57 "deploy tracking"
Any reason why deploy tracking can't or shouldn't be exposed in the node client?

[2015-09-23 18:04] brianr commented on #57
No reason I can think of. We'll be happy to accept a pull request :)

[2015-09-23 19:06] blahed commented on #57
Yeah, I took a look at it. Looks like it was initially geared towards items, wouldn't wanna try to shoehorn deploys into it without knowing more.

[2015-10-01 14:04] bblack opened #58 "API error when exception.name is a number"
I'm not sure if this is the right place to post this--would a solution be better implemented on the server side?

The [aws sdk](https://github.com/aws/aws-sdk-js) will throw errors that have a `name` property that is a number equal to an HTTP response code (e.g. `503`). I have no idea why they make it a number instead of a string. While node_rollbar or the rollbar API could cast this to a string,

[2015-10-01 17:52] zoellner commented on #58
I'm getting a similar error (still investigating why now, probably due to node update to 0.12.7): ```[Rollbar] Received error: Invalid format. data.body.trace.exception.class is missing and it is required.```
Wouldn't it be possible to still transfer the available data to rollbar (with enough details to investigate the problem)

[2015-10-07 11:09] Crisfole opened #59 "Handle plain object thrown as exception"
Right now rollbar will convert to a string resulting in "[Object] object".  No good at all.

[2015-10-19 05:07] nemo opened #60 "Exception when rollbar isn't initialized"
Hey folks,

Was writing some tests and it looks like rollbar throws an exception when it isn't properly initialized.

Seems like this is a risky move and even if it's intentional, it should be throwing a better exception that the one below.

Stacktrace:
[code]

[2015-10-24 23:09] razorman8669 commented on #53
:+1:

[2015-10-29 10:03] msokk opened #61 "Unhandled promises rejections support"
Node v4.0.0 and up fires `unhandledRejection` event.
https://nodejs.org/api/process.html#process_event_unhandledrejection

It would be great to have this supported in Rollbar out of the box.

Similar thing could be done in browser (currently Bluebird and soon Chrome native promises fire the same event on window).

[2015-10-29 10:39] GautierThiriez commented on #58
Same problem here...

[2015-11-09 16:53] jonknapp opened #62 "unable to install on older version of node"
I am having issues installing this dependency in a project from a `package.json` file for an AWS Lambda project. Unfortunately, their version of node is a bit dated, `v0.10.36`.  For some reason the Rollbar project does not install when we run `npm install` and my guess is that it's because the engine for this project is set to `>= 0.6.0`.

Should I be sticking to an older version of the Rollbar l

[2015-11-09 16:59] jonknapp commented on #62
Nevermind, I'm an idiot.

Forgot the project was shrinkwrapped...

[2015-11-09 16:59] #62 closed

[2015-12-07 01:37] jordansexton commented on #53
Can this be closed?

[2015-12-07 07:53] Koblaid commented on #53
Yes, it was merged with f3335462ff3c9ff6a3b6e1a6bb7b490a5df783d0.

[2015-12-07 07:53] #53 closed

[2016-01-04 19:40] coryvirok commented on #61
Great idea. We will get this in soon.

[2016-01-04 20:13] #59 closed

[2016-01-05 23:18] InstanceOfMichael opened #66 "Express 4: app.use(rollbarMiddleware) is not recognized or notified"
[code]
[code]

Failing code snippet

[code]
[code]

![rollbarexpressnotworking](https://cloud.githubusercontent.com/assets/4094542/12130365/6ef0309c-b3cf-11e5-8339-ef3f6ceaac99.PNG)

 - ``rollbar.reportMessage("Hello world!");`` maps to ``[Rollbar] Successful api response`` and is sent to my dashboard
 - ``Error('rollbar test');`` is not sent to my rollbar dashboard

[2016-01-05 23:49] coryvirok commented on #66
Is the process exiting as soon as the `throw new Error('rollbar test')` is bubbled up to express? If so, the process may be exiting before Rollbar has a chance to send the error.

Can you add this to your `setTimeout()`?

[code]

Does the middleware work if you use `app.use()`?

Thanks in advance.

[2016-01-07 20:00] InstanceOfMichael commented on #66
I think this was the core of the issue, the ``app.use`` function call has to be made after all normal middleware and routes are define

[code]

[2016-01-07 21:24] coryvirok commented on #66
Ah. Glad you figured it out.

[2016-01-07 21:24] #66 closed

[2016-01-20 17:15] aristidesfl opened #68 "rollbar.reportMessage() can't handle request from Express"
[code]

[code]

[2016-01-20 19:13] aristidesfl opened #69 "Improve rollbar.reportMessageWithPayloadData() interface"
Currently:

[code]

Maybe it would make more sense:

[code]

Still, `reportMessageWithPayloadData` would be a very long method name.
`reportMessage` and `reportMessageWithPayloadData` could be merged together. When  payloadData exists to be passed, an empty object could be provided:

[code]

For more flexibility, the function could at the same time accept an object with all the parameters. This wo

[2016-01-20 20:18] coryvirok commented on #69
Hi @aristidesfl and thanks for the feedback. This is a great idea and I think it will be more expressive once we move to the new notifier API like the rollbar-gem and rollbar.js repos have:

[code]

Would that syntax work for you?

[2016-01-20 20:19] coryvirok commented on #68
Thanks for the bug report. Adding to our sprint.

[2016-01-20 20:24] aristidesfl commented on #69
Looks like an improvment :+1:
Is still there a way to pass custom data?

[2016-01-20 20:27] aristidesfl commented on #69
rollbar.js seems great. I'm guessing it is not compatible with node..

[2016-01-20 20:41] coryvirok commented on #69
You would pass custom data via `rollbar.info('hello world', {some: 'custom object'})` and we would know it's custom because it's not a:

- string - message
- request - Request object
- callback - function
- error - Error object

Unfortunately rollbar.js is not compatible with Node. There are just too many dissimilarities in the environment. It would be possible to create a shared library between t

[2016-01-20 20:43] aristidesfl commented on #69
puuuurfect, thanks for the quick reply :)

[2016-02-15 13:59] jondeandres commented on #68
@aristidesfl can you tell us which express version are you using and a snippet of code that triggers the rollbar report?

[2016-02-15 15:43] jondeandres commented on #68
@aristidesfl hi again, I've been debugging this using two different requests:

`curl -X POST http://localhost:3000/ -d '{"username":"xyz","password":"xyz"}' -H "Content-Type: application/json"`

and

`curl -X POST http://localhost:3000/ -d 'foo=bar&bar=foo' -H 'Content-Type: application/x-www-form-urlencoded'`

It is working correctly in both cases. Could you provide more details/information about

[2016-02-15 16:15] jondeandres commented on #68
@aristidesfl I've been reading the [multer](https://github.com/expressjs/multer) code and I found this: https://github.com/expressjs/multer/blob/master/lib/make-middleware.js#L27.

This will make the `req.body` object to not have `hasOwnProperty` and will make our notifier to crash. This seems to happen only for multipart requests, can you confirm us that you are using a multipart request when the

[2016-02-16 10:24] aristidesfl commented on #68
@jondeandres I'm using `multer` to read `multipart/form-data`. In my case specifically `form-data`. I'm not receiving any files, not sure if that matters.

[2016-02-16 10:25] jondeandres commented on #68
hey @aristidesfl, we've found the cause of this. I've opened a PR https://github.com/rollbar/node_rollbar/pull/72. You can test the branch if you want. We'll merge it probably today.

[2016-02-16 10:27] aristidesfl commented on #68
Thank you! After its merged how long until a new release?

[2016-02-16 10:27] jondeandres commented on #68
we hope we can release today or tomorrow

[2016-02-18 17:54] #68 closed

[2016-02-18 21:24] ronenteva opened #73 "Invalid format. data.context object value found, but a null is required."
I receive the following error:
`Invalid format. data.context object value found, but a null is required.`
Looking at the content, I can see that:
`data.context: {}`

rollbar@0.5.12

[2016-02-19 00:56] brianr commented on #73
Thanks @ronenteva for the report.

Note for us, or anyone who wants to take a stab at fixing this: looks like the relevant code in node_rollbar is https://github.com/rollbar/node_rollbar/blob/master/lib/notifier.js#L217-L225 . An empty object is not a valid context, per the API spec, so if the context would be `{}` then it should be either set to null or `delete`d.

[2016-03-01 22:06] syrnick commented on #61
+1

[2016-03-02 09:09] lostfields opened #77 "Add support for multiple Errors - Trace chain"
What about supporting multiple errors by posting a trace chain to rollbar? When making custom errors you may chain errors in the property innerError. To support that you have to make some changes to method buildErrorData in notifier.js something likes this:

[code]

[2016-03-02 09:14] lostfields commented on #77
or make it possible to override buildErrorData (expose it by exports?) to make it possible to do custom implementations like this.

[2016-03-02 20:31] brianr commented on #77
Thanks @lostfields ! I think this makes sense to support in this library. If you want to send a PR, we'd be happy to review it and get it merged.

[2016-03-07 09:03] ronenteva commented on #73
Any update on the issue?

[2016-03-16 15:47] callumacrae opened #82 "crypto not usable, falling back to insecure Math.random()"
I'm using Node 4.2.1, and requiring the rollbar package causes the following to be outputting:

[code]

What can I do to fix this?

[2016-03-16 16:14] Crisfole commented on #82
Hey Callum, it looks looks like node-uuid added that warning in Nov. last year:

https://github.com/broofa/node-uuid/commit/c9760f931d36bf01143dd2a78110ca05061e39e7

Since we're not using the UUIDs for security purposes it's not really an issue, but clearing security warnings is a Good Thing™...

What version of node-uuid do you have installed at the moment? (It looks like there's been a bunch of

[2016-03-17 12:11] callumacrae commented on #82
[code]

It's used by a few of my deps, and all of them are 1.4.7.

[2016-03-17 12:53] Crisfole commented on #82
Great, thanks! I'm a bit confused, this is the node_rollbar repo, but the only place that warning is printed is if `window` is defined (which isn't the case in node). Do you have a global `window` variable defined somewhere that's causing `setupBrowser` code to be called?

Also, when you `require('crypto')` does it work for you?

[2016-03-17 12:58] callumacrae commented on #82
Oh! `global.window` is being defined to get some server-side React stuff working. I guess that's what's causing the problem, then!

[2016-03-21 14:08] maxcanna commented on #73
Same here on `"rollbar": "~0.5.14"`
Request data context:
[code]

[2016-03-21 15:16] Crisfole commented on #82
K, great! Thanks for reporting anyway!

[2016-03-21 15:16] #82 closed

[2016-03-30 16:36] albertolive opened #84 "Errors when Install using the node package manager"
Hi, I have installed this tool (I'm using webpack) and I'm having this errors:

[code]
I tried to fix it but with no luck. Somebody can help me?

Thanks!

[2016-03-30 19:33] coryvirok commented on #84
Looks like your Webpack build is attempting to include `package.json` but doesn't have a loader which understands JSON. You may just be able to add https://github.com/webpack/json-loader and the appropriate Webpack loader config.

The other problem looks like you don't have node_modules in your Webpack resolve path. Try adding something like this to your Webpack config:

[code]

[2016-03-31 07:43] albertolive commented on #84
Ok, thanks!

[2016-04-11 22:45] brianr commented on #77
I believe this is done now via https://github.com/rollbar/node_rollbar/pull/81 . @lostfields does that work for your needs?

[2016-04-11 22:45] #77 closed

[2016-04-11 23:02] brianr commented on #84
@albertolive Were you able to get this working? I'm going to close this issue, but please reopen if there's still a problem that appears to be with node_rollbar itself.

[2016-04-11 23:02] #84 closed

[2016-04-12 05:46] lostfields commented on #77
yes, of course. thanks for closing it @brianr

[2016-04-20 22:21] peeinears commented on #66
Please put this in the documentation!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-04-20 23:16] InstanceOfMichael commented on #66
:+1:

[2016-04-22 12:45] Tapppi commented on #73
This seems to be quite a common occurrence for us as well.

[2016-05-12 17:26] elliot-a commented on #60
I've just had the same issue on a test server - for some reason roll bar didn't initialise and I now have literally millions of lines of [TypeError: Cannot read property 'postItem' of undefined] in my logs.

[2016-05-20 21:52] coryvirok commented on #60
Thanks for the bug report! This should be fixed now in v0.6.1.

[2016-05-20 21:52] #60 closed

[2016-06-03 14:32] crusaderltd commented on #82
@callumacrae I have the same issue... Using React server rendering and need to add `if (typeof window === 'undefined') { global.window = {} }`. I'm getting `[SECURITY] node-uuid: crypto not usable, falling back to insecure Math.random()` in the console now.

I'm using `node-uuid` (`uuid.v4()`) for the `genid` method of `express-session`.

Not a rollbar issue - but do you know of any way to avoid t

[2016-06-03 15:21] callumacrae commented on #82
I moved the `global.window` declaration into the function I'm calling react from, instead of defining it on app start-up time. Solved a couple other problems as well.

[2016-06-15 20:59] jessewgibbs opened #87 "Test for Zapier"

[2016-06-15 21:06] #87 closed

[2016-06-21 16:35] maximilianschmitt opened #88 "TypeError: Converting circular structure to JSON"
There is a [merged pull request for a similar issue](https://github.com/rollbar/node_rollbar/pull/19) but it seems like errors with circular structure cannot be reported and crash the process.

[code]

[code]

It seems like the rollbar-module is missing to properly handle the `TypeError`. If it will not convert circular structures to JSON gracefully, shouldn't it at least pass the `TypeError` to t

[2016-06-21 21:37] bmueller-sykes commented on #84
I'm having a similar problem with a webpack/React/ES6-based project. In my package.json file, I've got this reference:

`"rollbar": "0.6.2",`

...and the install appears to go properly, but then when I do `npm start`, I get the following error trace in the console (some project-specific details masked):

[code]

here's the (potentially) relevant part of my webpack.config file:

[code]

I do not ex

[2016-06-22 17:40] bmueller-sykes opened #89 "Problems with installing Rollbar in Webpack project"
Hi,

I posted a comment to the closed issue #84, but wasn't sure that would be seen, so I'm posting a new issue here with largely the same content.

I'm trying to get Rollbar installed into a webpack/React/ES6-based project. In my package.json file, I've got this reference:

"rollbar": "0.6.2",

...and the install appears to go properly, but then when I run `npm start`, I get the following error t

[2016-07-08 04:56] jamesdixon opened #91 "getting up to par with other rollbar implementations"
Hi, it seems that the Node SDK for Rollbar along with some of the other languages is a bit behind the Ruby SDK. Is there a timeline for all the SDKs getting on the same page?

[2016-07-08 14:28] jessewgibbs commented on #91
Hi James,
Thanks for bringing this up.  We are planning a major effort during the second half of this year to bring all our the Rollbar-supported notifiers up to the level of the Ruby SDK.  Keep an eye on the changelogs and our blog & email announcements!

[2016-07-08 14:28] #91 closed

[2016-07-25 06:36] EragonJ commented on #73
I noticed this when registering an express error handler for upcoming errors.

[code]

#### Calling sequence

https://github.com/rollbar/node_rollbar/blob/65563ad171bdf8e6af4d02058ee83521eb57d39c/rollbar.js#L206
https://github.com/rollbar/node_rollbar/blob/65563ad171bdf8e6af4d02058ee83521eb57d39c/rollbar.js#L228
https://github.com/rollbar/node_rollbar/blob/65563ad171bdf8e6af4d02058ee83521eb57d39c/

[2016-07-31 15:42] ronenteva commented on #73
@brianr any updates?

[2016-08-27 05:11] ffxsam opened #92 "'custom' field does nothing?"
I'm trying to use the `custom` property in both `reportMessageWithPayloadData` and `handleErrorWithPayloadData`, and it seems to have no effect. Am I missing something?

[2016-08-27 05:24] ffxsam commented on #92
Ah, I missed it in the Rollbar UI. got it!

[2016-08-27 05:24] #92 closed

[2016-09-08 21:10] th3fallen commented on #89
@bmueller-sykes add ```

      {
        test: /\.json$/,
        loader: 'json',
      },
[code]

[2016-09-08 21:14] bmueller-sykes commented on #89
Thanks @th3fallen. Any collateral damage to other .json files if that loader is part of the webpack config?

[2016-09-08 21:16] th3fallen commented on #89
not that i've encountered you'll need to install `json-loader` from npm though

[2016-09-09 13:45] th3fallen opened #93 "CORS issues?"
When attempting to push an error up i get
[code]
am i missing something?

[2016-09-09 16:32] coryvirok commented on #93
Looks like you might want to be using https://github.com/rollbar/rollbar.js for browser error detection/reporting. node_rollbar is meant for server-side only projects.

[2016-09-09 16:33] th3fallen commented on #93
@coryvirok im using it in a react/webpack project i assumed this was the appropriate one?

[2016-09-09 17:44] coryvirok commented on #93
Gotcha. You should use rollbar.js. Here's an example for how to use it with Webpack - https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

[2016-09-09 17:45] th3fallen commented on #93
@coryvirok yep found that a few min ago. works much better. thanks so much

[2016-09-09 17:45] #93 closed

[2016-09-17 14:39] MarkHerhold commented on #57
So I take it this is still not supported?

[2016-09-29 00:09] sundeepgupta opened #94 "Print error.stack on handled exceptions"
For exceptions that are caught and manually sent to Rollbar, it would be nice if error stack trace was printed out. Or perhaps an option to enable that.

[2016-10-25 13:24] bryanlarsen commented on #39
Has there been a resolution to this issue?   We're stuck on a very old version of rollbar for this reason.  I tried upgrading to current and there's no rollbar.shutdown command.

[2016-10-26 18:12] coryvirok commented on #58
This should be fixed in 0.6.3.

[2016-10-26 18:12] #58 closed

[2016-10-27 16:45] syrnick commented on #8
Would it work if you just changed https://github.com/rollbar/node_rollbar/blob/master/lib/api.js#L13 to
`exports.endpoint = (process.env.ROLLBAR_API_PROXY || 'https://api.rollbar.com') + '/api/' + exports.VERSION + '/';`

[2016-11-01 14:24] gvilarino commented on #73
Bump! Any updates?

It's really troublesome that a format conflict that could be addressed transparently by the lib is making servers crash...

[2016-11-03 12:42] #61 closed

[2016-11-03 23:47] toymachiner62 opened #97 "Setup code/examples for hapi.js"
I see you have an example in the README for integrating with express. You should also have an example for integrating with [hapi.js](http://hapijs.com/)

[2016-11-15 20:35] lumberj opened #98 "The mask used to hide sensitive params should be fixed length"
See: https://github.com/rollbar/node_rollbar/blob/9576a54075bb60eb61eb26e8240c11c4bacfc043/lib/notifier.js#L181

It's an unnecessary leak of information to have a mask length equal to the length of the data that's being masked.

[2016-11-29 19:14] zdespolit opened #99 "itemsPerMinute / maxItems global rollbar options"
Hi, sorry for the question as an issue, but I don't see such options in the api provided.

Looking for the same availbable on the client
https://rollbar.com/docs/notifier/rollbar.js/configuration/

Am I missing something? Or do you plan to add it?

[2016-12-06 23:46] stclairdaniel commented on #98
Thank you for pointing this out. It's on our radar moving forward.

[2016-12-13 22:37] ekazakov opened #101 "Unhandled promise rejections are deprecated"
`unhandledRejection` are deprecated in Node 7

[code]

[2016-12-14 00:44] stclairdaniel commented on #101
Thanks for bringing this to our attention!

[2017-02-09 18:07] modosc opened #103 "universal version"
we have a universal react app. we want to catch errors inside of various react components with rollbar.

in the client i do something like:
[code]
but on the server i have to do something like:
[code]
for now i wrote a [wrapper class](https://gist.github.com/modosc/de7f72fd7b5646029811026894b4fc91) to take care of this but i only tested it for our specific usage cases (and because of the way order

[2017-02-13 15:04] lehresman opened #104 "extractIp logic is broken"
Reported by @modosc on the rollbar.js repo, but I believe this is actually a node_rollbar issue:

"all of our exceptions show request.user_ip to be a non-routable address - this is because external connections bounce through several layers of AWS infrastructure. we can get the correct client ip address with request-ip though - would you be open to a pr which uses this module to replace extractIp()

[2017-02-14 19:20] rokob commented on #89
Do you have your target set to `node`? I have an example express app (https://github.com/rokob/expressbar) using webpack to compile both the server and frontend code using separate webpack configs. It builds and runs, includes rollbar, and does not use the json-loader. That said using the json-loader should not be troublesome either.

[2017-02-15 18:42] lehresman commented on #101
I believe this is not a bug or issue with regard to Rollbar.  The problem is that your code has an unhandled rejection, and Node is telling you that in the future, this will cause a hard exit.

Rollbar actually solves this problem by catching any unhandled rejections if you configure it to do so.  See the README for details, but something like this should fix your problem:
[code]

I created a simp

[2017-02-15 18:43] #101 closed

[2017-02-15 22:16] #88 closed

[2017-02-15 22:18] rokob commented on #88
@lehresman you were right, that just needed to get merged. I updated that PR a little bit to match the style we already have in api.js for consistency and merged it.

[2017-02-15 22:47] rokob commented on #98
Fixed via #105

[2017-02-15 22:47] #98 closed

[2017-02-16 19:06] lehresman commented on #73
Actually, it looks like "context" is expected to be a string, according to https://rollbar.com/docs/api/items_post/:
[code]

This error seems to be thrown if ANY object value is passed as the context, not just an empty object as @brianr suggested.

There are two solutions I can see, each has pros and cons:

1.  Serialize objects with `JSON.stringify`/`stringify` if an object passed as a context.

[2017-02-16 19:20] rokob commented on #73
How is this getting set in the first place? Are people setting it themselves to `{}` or `{some: "object"}` or is there some library code that is incorrectly setting it?

[2017-02-16 19:22] lehresman commented on #73
I'm not sure.  Either way, it seems like the `node_rollbar` sdk should be smart enough to handle the situation gracefully.

[2017-02-16 19:23] rokob commented on #73
Well I wanted to rule out some bug in the notifier itself causing this, but that doesn't seem to be the case. I feel like we could just move the context value to custom data and set it to null if it is not a string.

[2017-02-16 19:44] lehresman commented on #73
Note for posterity:  We had an internal discussion about this and decided to serialize `data.context` if an object is detected.  Since context has special internal meaning to Rollbar, it didn't seem like the best option to move it to the custom attribute.

[2017-02-17 18:51] #73 closed

[2017-02-17 19:03] lehresman commented on #8
Looks like simple proxy support was added in Jan, 2015 with this commit 901b407da42980659320b6be4277156b3f12976b.  Is this sufficient?  If so, I'll add documentation.  Otherwise I'll rework it using @coryvirok's suggested 3rd-party library.

[2017-02-17 19:05] lehresman commented on #8
Also note https://github.com/rollbar/node_rollbar/pull/32.  Looks like it was signed off by @coryvirok, so I'll just add documentation.

[2017-02-17 19:28] rokob commented on #8
This already exists as @lehresman pointed out and is now documented so closing this.

[2017-02-17 19:28] #8 closed

[2017-02-17 22:03] rokob commented on #103
I am working on making https://github.com/rollbar/rollbar.js actually work on both the server and in the browser. The idea is to unify the APIs to handle this issue. The tracking issue for this work is: #248

[2017-02-17 22:06] rokob commented on #99
I am working on making https://github.com/rollbar/rollbar.js actually work on both the server and in the browser. These options are available in the browser but not on the server currently, as you point out, but that will be rectified. The tracking issue for this work is: rollbar/rollbar.js#248

[2017-02-17 22:07] rokob commented on #69
I am working on making https://github.com/rollbar/rollbar.js actually work on both the server and in the browser. The idea is to unify the APIs to handle this issue. The tracking issue for this work is: rollbar/rollbar.js#248

[2017-02-17 22:08] rokob commented on #43
I am working on making https://github.com/rollbar/rollbar.js actually work on both the server and in the browser. This issue should be solved in that process because the universal library is planned to be more similar to rollbar.js in that you can have separate instances. The tracking issue for this work is: rollbar/rollbar.js#248

[2017-02-17 22:08] #94 closed

[2017-02-21 18:25] #97 closed

[2017-02-21 18:51] lehresman opened #113 "Tests should be self-contained and use mock HTTP responses"
Right now, the tests for node_rollbar use a real Rollbar account to issue real HTTP requests and responses.  This makes for easier tests to write, but is problematic because it generates a lot of traffic, requires an Internet connection to run tests, etc.

A better approach would be to use some sort of HTTP recording and playback functionality.  There are lots of libraries that provide this type o

[2017-02-22 19:21] lehresman commented on #104
@modosc Are you still up for submitting a PR for this?  What you suggest seems reasonable and a good approach.

[2017-02-22 20:23] rokob commented on #57
This was just merged, will be in the next release.

[2017-02-22 20:23] #57 closed

[2017-02-22 20:24] #49 closed

[2017-02-22 20:24] rokob commented on #89
Feel free to reopen if this is still a problem.

[2017-02-22 20:24] #89 closed

[2017-02-22 20:35] modosc commented on #104
sure, which approach seems more preferable?

[2017-02-22 20:36] lehresman commented on #104
Using `request-ip` seems like a good approach to me.

[2017-02-22 21:34] modosc commented on #104
pr opened.

[2017-02-22 22:00] rokob commented on #104
Thanks @modosc for fixing this!

[2017-02-22 22:00] #104 closed

[2017-02-23 17:39] rokob commented on #39
This was just merged, hopefully this functionality is what you need. It is documented in the README.

[2017-02-23 17:39] #39 closed

[2017-03-03 18:23] SpainTrain opened #116 "Request Release"
There have been a number of commits and new useful features since the last npm release.  In particular, we accidentally tried using the new config options and spun our wheels a bit troubleshooting why they were not working.

Is it possible to get a new release cut with the new features?  I understand you are consolidating the js libraries (https://github.com/rollbar/rollbar.js/issues/248), but it'

[2017-03-07 18:27] rokob commented on #116
Sorry for the delay, yes I will cut a new release in the next couple days to get the new features out. I will update this issue once that happens.

[2017-03-09 23:07] rokob commented on #116
I just pushed https://github.com/rollbar/node_rollbar/releases/tag/v0.6.4 out to npm.

[2017-03-09 23:07] #116 closed

[2017-03-09 23:59] gigafied opened #118 "0.6.4 is broken"
`uuid` is missing from dependencies.

[code]

This caused us a lot of grief, not necessarily your guys fault, but we do pay for Rollbar, you should take a bit more caution in testing and publishing new releases.

[2017-03-10 00:01] brianr commented on #118
Thanks @gigafied and sorry for the trouble - we're looking into this now and figuring out why it didn't break anything in the test suite.

[2017-03-10 00:35] rokob commented on #118
I am a bit at a loss, `uuid` is listed in the dependencies, we are importing it as the uuid docs specify and as makes sense with their code, and it is installed in the node_modules directory when npm install is run with the updated rollbar dependency. I tried this on a test node project that I had where I upgraded from 0.6.2 to 0.6.4, and I saw the uuid module installed as part of running `npm ins

[2017-03-10 00:40] rokob commented on #118
Note I had to run `npm update rollbar` on my project just because of the way the rollbar dependency was specified, doing that caused node-uuid to be removed and an existing version of uuid that is shared by a different dependency to be used.

[2017-03-10 00:42] gigafied commented on #118
This might be an `npm` module resolution issue...

Running `npm ls` gives only one instance of `uuid`
[code]

Specifically, if you do a require referencing a subpath, it doesn't work. Yet, if I replace `require('uuid/v4')` with `require('uiid').v4` the issue goes away.

[2017-03-10 00:50] rokob commented on #118
Ah, the problem is we have uuid at `3.0.x` and `3.0.0` doesn't have a v4 file, it only exports v4 from the root. `3.0.1` broke out v1 and v4 into their own files. So it is our fault, it must be that some other library you have depended on 3.0.0 and then our specification didn't violate that so npm didn't install another one. Ultimately this is our fault, I will roll another release because I don't

[2017-03-10 00:50] gigafied commented on #118
Okay, now I see what's happening... `require('uuid/v4')` is not supported in `3.0.0`, that was introduced in `3.0.1`, yet rollbar uses `3.0.x` as the version for `uuid`, `aws-sdk` on the other hand uses `3.0.0`, which also satisfies rollbar's version requirement, however that breaks since `uuid/v4` does not work on `3.0.0`

So two solutions:

- Use `require('uuid').v4`
- Use `3.0.1` for `uuid` ver

[2017-03-10 00:50] rokob commented on #118
👍

[2017-03-10 00:57] cwp commented on #118
I'm seeing this too. I can confirm the 3.0.1 vs 3.0.0 issue, triggered by aws-sdk.

[2017-03-10 01:08] rokob commented on #118
0.6.5 should be good to go, at least as it pertains to this issue. Sorry about that.

[2017-03-10 01:08] #118 closed

[2017-03-28 00:56] piohhmy opened #119 "How to enable source maps?"
Our node backend app uses webpack during compilation.  Is it possible for stack traces uploaded via node_rollbar to  use source maps?

[2017-03-28 09:08] rivkahstandig3636 commented on #119
Hi @piohhmy, yes, it is :) What issues are you having exactly? It may be easier to email us at support@rollbar.com rather than try to fix it through here.

[2017-04-06 09:01] andreaj8 commented on #58
same for me with 0.6.5

[2017-04-06 17:51] rokob commented on #58
https://github.com/rollbar/node_rollbar/blob/master/lib/parser.js#L268 is where the class value comes from. It *should* be converted to a string here so this is a bit confusing.

[2017-04-11 23:28] Ivshti commented on #119
@rivkahstandig3636 any updates on what was the issue?

I can and probably will write an email to support as well, but isn't it easier to have a clear flow of how sourcemaps are supposed to work with nodejs?

For example:

1. When we receive stack traces, JS files seem to be referenced in the stack trace by their full path on the filesystem
2. When uploading sourcemaps, we should provide minified_u

[2017-04-12 00:47] piohhmy commented on #119
Response I received from support was source maps aren't supported with this lib yet.  I think there is some work going on to unify the JS rollbar lib and the node rollbar lib which may fix it going forward.

[2017-04-12 18:16] Ivshti commented on #119
I was worried this could be a problem. As far as I can tell, because the local files do not have a full URL with hostname and etc., they cannot be mapped correctly to what we use to upload sourcemaps (minified_url)

Do you know any alternatives/workarounds that solve this issue?

[2017-04-12 18:33] brianr commented on #119
Hi folks, Rollbar staff here. This is on our radar - it's going to require a little bit of work on our end for this to work nicely.

If you really really want to use source maps on the server-side now, you would do something like the following:

- include a `client` section in every payload to rollbar (sibling to `server`) that looks like: `client: {javascript: {source_map_enable: true, code_versi

[2017-04-12 18:37] Ivshti commented on #119
Thanks for the quick response :)

it is really fragile, but it's definitely better than nothing. Currently, our use case is a bit different - we deploy a desktop application which uses node.js for a local server - we ship all of the code there minified, in a single fie. So having source-maps is very important in production.

But I guess the biggest question here is how to transform the filenames t

[2017-04-12 20:41] brianr commented on #119
@Ivshti No, not renaming the actual files. The approach I would take is to modify the code in node_rollbar that builds the `frames` part of the payload, to transform each filename (each frame is an object with a `filename` key) to start with `http://`. That code would go here: https://github.com/rollbar/node_rollbar/blob/master/lib/notifier.js#L135

Then, when you upload your source maps, the `min

[2017-04-12 21:08] Ivshti commented on #119
It does make sense, thanks; will try

[2017-04-14 08:31] Ivshti commented on #119
So what I did as a start was: I added a simple option to be able to transform the frames being sent. It may be a hack, but it's clean-ish when it comes to the node_rollbar codebase itself - it just allows you to pass a generic function to transform the frames. May come in useful for other things too

https://github.com/Ivshti/node_rollbar/commit/73699c5a0b3198c91ec9f7eaea10b97cb3c91342

[2017-04-14 08:54] Ivshti commented on #119
@brianr now I've got the sourcemaps uploaded, with the minified_url and code_version, and node_rollbar submitting errors for that particular file with that particular codeVersion. Still, it's not un-minifying the exceptions. How can I debug this?

[2017-04-15 01:12] brianr commented on #119
Nicely done! I sent you a reply to your support request, but repeating the relevant info here...

The only thing you're missing is that you need the `client.javascript.code_version` and `client.javascript.source_map_enabled` keys in the payload. Probably the easiest way to do that would be to modify lib/notifier.js:buildBaseData as follows:

[code]

[2017-04-19 19:40] khrome83 opened #120 "Express - Set Enviroment"
How do I set the environment. The express example does not use the `.init()` method, so I don't see how I am suppose to report the environment of the error.

[2017-04-19 19:42] khrome83 commented on #120
NM i found it in the express example. It may be worth while to update readme to include this to make it clear it can take the options argument as well.

[2017-04-19 19:55] #120 closed

[2017-04-19 19:57] khrome83 opened #121 "Not reporting errors to my Rollbar account"
Below is my code taken from the express example. Notice that app in this case is actually `next.js` and server is `express`.

I created a intentional failure on `/` to test rollbar. I do not see this issue being flagged in the account, yet it is displaying on the console. I validated that the node process variables are correct, passing in my token and 'localhost'.

Is there something I need to do

[2017-04-19 21:56] rokob commented on #121
Sorry I am a little confused, what do you mean by the process variables are correct and that you are passing in 'localhost'? If you hardcode the access token as a string in place of `config.ERROR_REPORTING`, do you still get the same problem?

[2017-04-19 22:24] khrome83 commented on #121
I can try that, but config.ERROR_REPORTING is a string. I just mean that the values being passed in are correct.

[2017-04-20 16:54] rokob commented on #121
I put your exact code above into a file called `index.js` in a directory with a package.json with the following dependencies:
[code]

I modified one line of your code to
[code]

I ran `npm install` to get all of the dependencies, then I ran `node index.js` and went to `http://localhost:3000` in my browser. I see the error in the browser and in the terminal. I also see the error properly reported t

[2017-04-25 02:08] khrome83 commented on #121
looks like the issue was that we were not using the right token. Thank you!

[2017-04-25 02:08] #121 closed

[2017-04-26 17:17] cordoval commented on #89
wish you could post a solution for those not using backend node, just webpack frontend

[2017-04-26 17:22] th3fallen commented on #89
@cordoval use the [rollbar-browser](https://www.npmjs.com/package/rollbar-browser) package

[2017-04-26 17:24] cordoval commented on #89
is the same

[2017-04-26 17:25] th3fallen commented on #89
@cordoval no it's not i use it in my project just fine.

[code]

[2017-04-26 17:30] cordoval commented on #89
so that goes inside webpack.config.js before everything else? i think webpack builds the packages differently so i was thinking i needed a plugin or something no?

[2017-04-26 17:44] th3fallen commented on #89
that's it's own file, that i import in my project

[2017-04-26 18:45] cordoval commented on #89
hmm so it is inserted on each time i need it then on each page?

[2017-04-26 19:06] cordoval commented on #89
i have made it its own file but i did not need the -browser part

[code]

[2017-04-26 19:52] th3fallen commented on #89
you should need the -browser part....

[2017-04-26 19:53] cordoval commented on #89
it fetches the same file though, can you please elaborate why?

[2017-04-26 19:59] th3fallen commented on #89
¯\_(ツ)_/¯ if youre sure it's the same file either way then carry on.

[2017-04-27 15:34] cordoval commented on #89
sorted it out and it works! 🗡

[2017-10-06 21:27] #43 closed

[2017-10-06 21:28] #119 closed

[2017-10-06 21:28] #47 closed

[2017-10-06 21:28] #69 closed

[2017-10-06 21:28] #99 closed

[2017-10-06 21:28] #103 closed

[2017-10-06 21:28] #113 closed

[2017-10-23 04:36] guiconti opened #122 "verbose: true not logging to console"
Hi, we are using rollbar on one of our projects and we can not make it log info to console when we call debug, log, info, warning, error and critical. Here is where we declare rollbar:

[code]

Is something wrong with the verbose option? We are using version 2.2.10

Thank you!

[2017-10-23 04:40] guiconti commented on #122
Hi, we are using rollbar on one of our projects and we can not make it log info to console when we call debug, log, info, warning, error and critical. Here is where we declare config rollbar:

[code]
Is something wrong with the verbose option? We are using version 2.2.7

Thank you!

[2017-10-23 19:22] #122 closed